.hw-profile-editor {
  .title {
    height: 90px;
    line-height: 90px;
    font-size: 35px;
    background-color: #edf2f3;
    padding-left: 30px;
  }
  .btn-wrapper {
    margin-top: 80px;
    padding: 0 40px;
  }
  .am-list-line {
    border-bottom: 1PX solid #ddd;
  }
  .hint {
    font-size:25px;
    line-height: 35px;
    background-color: #fff;
    padding: 30px;
    .hint-title {
      color: #dd992c;
      float: left;
    }
    .content {
      padding-left: 125px;
    }
  }
}