.trail-detail {
  .profile-info {
    background-color: #fff;
    position: relative;
    height: 90px;
    .avatar {
      position: absolute;
      left: 10px;
      img {
        border-radius: 100%;
        width: 85px;
        height: 85px;
      }
    }
    .info {
      padding-left: 105px;
      color: #868686;
      .name {
        padding-top: 10px;
      }
      .phone {
        margin: 10px 0;
      }
    }
  }
  .trail-info {
    margin-top: 10px;
    background-color: #fff;
    .info-block {
      height: 45px;
      line-height: 45px;
      margin: 0 10px;
      border-bottom: 1px solid #eaeaea;
      .name {
        width: 90px;
        display: inline-block;
      }
    }
    .detail-content {
      margin: 0 10px;
      border: 1px solid #eaeaea;
      border-top: 0;
      line-height: 20px;
      padding: 5px;
    }
  }
}
